* {
  border: none;
  font-family: Hack Nerd Font;
  font-weight: 800;
  font-size: 13px;
  min-height: 0;
  margin: 0 2px;
}

@import "../waybar/style/gruvbox-themes/gruvbox-dark.css";

window#waybar {
  background: none;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

tooltip {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  color: @fg;
}

#workspaces button {
  border: none;
  transition-duration: 0.3s;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: @gray;
  padding: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

#workspaces button.persistent {
  color: @gray;
}

#workspaces button.empty {
  color: @bg2;
}

#workspaces button.special {
  color: @green1;
}

#workspaces button.visible {
  color: @fg;
}

#workspaces button:hover {
  color: @yellow;
}

#workspaces button.active {
  color: @fg;
}

#workspaces button.urgent {
  color: @red;
}
#taskbar,
#taskbar button,
#custom-swaync,
#language,
#custom-updates,
#custom-weather,
#window,
#custom-playerctl,
#clock,
#cpu,
#disk,
#memory,
#battery,
#pulseaudio,
#network,
/*#workspaces, */
/*#tray, */
#cava,
#keyboard-state,
#idle_inhibitor,
#custom-power, 
#custom-lock,
#custom-menu,
#custom-file_manager,
#custom-browser,
#custom-light_dark,
#custom-tty,
#bluetooth
{
  background: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#custom-hue{
padding-left: 0px;
padding-right:4px;
padding-top:4px;
padding-bottom: 4px;
}

.modules-left, .modules-center, .modules-right
{
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 2px;
  color: @fg;
}

.modules-left, .modules-right{
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;

}

.modules-left{
    border-radius:10px 4px 4px 10px;
}

.modules-right{
    border-radius:4px 10px 10px 4px;
}

#workspaces {
  /*background: rgba(40, 40, 40, 0.76); */
 /* border-radius: 4px; */
  /*border-width: 2px; */
  border-style: solid;
  border-color: @fg;
 /* margin-left: 4px;
  padding-right: 6px;
  padding-left: 4px; */
}

#language {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  color: @fg;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  min-width: 24px;
}

#keyboard-state {
  background: none;
  color: @fg;
  border: none;
  padding-top: 1px;
}

#custom-updates {
 /* background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  color: @fg;
  border-radius: 0px 4px 4px 0px;
  border-width: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: @fg;
}

#window {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  color: @fg;
}

#custom-playerctl {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-right: 0px;
  border-left: 0px;
  color: @fg;
}

#cava {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  border-radius: 4px 0px 0px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-right: 0px;
  margin-left: 4px;
  color: @fg;
}

#clock {
  /*background: rgba(40, 40, 40, 0.76); */
  color: @fg;
  /*border-width: 2px; */
  border-style: solid;
  border-color: @fg;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

#network {
  color: @fg;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
/*  background: rgba(40, 40, 40, 0.76); */
  color: @fg;
 /* border-width: 2px; */
  border-style: solid;
  border-color: @fg;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

#pulseaudio.microphone {
 /* background: rgba(40, 40, 40, 0.76); */
  color: @fg;
 /* border-width: 2px; */
  border-style: solid;
  border-color: @fg;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-right: 4px;
}

#battery {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  color: @fg;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

#custom-weather {
  /*background: rgba(40, 40, 40, 0.76); */
  color: @fg;
  /* border-radius: 4px 0px 0px 4px; */
 /* border-width: 2px;*/
  border-style: solid;
  border-color: @fg;
  border-right: 0px;
  margin-left: 4px;
  padding-right: 7px;
  padding-top: 1px;
}

#idle_inhibitor {
  /*background: rgba(40, 40, 40, 0.76); */
  background: @bg;
  color: @fg;
  border-width: 2px;
  border-style: solid;
  border-color: @fg;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  min-width: 18px;
}

#custom-power {
 /* background: rgba(40, 40, 40, 0.76); */
  color: @fg;
 /* border-width: 2px; */
  border-style: solid;
  border-color: @fg;
 /* border-radius: 0px 4px 4px 0px; */
  /*border-left: 0px;
  margin-left: 0px;
  margin-right: 4px;
  padding-right: 14px; */
}

